[build]
  command = "npx @11ty/eleventy"
  publish = "_site"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/logout"
  to = "/signin/"
  status = 302

[build.environment]
SECRETS_SCAN_SMART_DETECTION_OMIT_VALUES = "1"
SECRETS_SCAN_SMART_DETECTION_ENABLED = "0"
