{% block head %}
  {% set socialImage = "/tgk-assets/images/share/the-vault/codex-reborn/berlin-codex/gospel-of-mary.jpg" %}
  {% include "partials/head-meta.njk" %}
{% endblock %}

<main class="main-content">
  <section class="content-container">

    {% block bookmark %}{% include "partials/bookmark.njk" %}{% endblock %}

  </section>
</main>
