<nav class="scroll-tabs" role="navigation" aria-label="Part Map">

  {% if quizId or quizEnabled %}
    <a class="tab-link" href="#quiz" data-title="Quiz">Quiz</a>
  {% endif %}

  {% if glossary and glossary.length %}
    <a class="tab-link" href="#glossary" data-title="Glossary">Glossary</a>
  {% endif %}

  {% if discussEnabled != false %}
    <a class="tab-link" href="#discuss" data-title="Discussion">Discuss</a>
  {% endif %}

  {% if seriesMeta %}
    <a class="tab-link" href="#series" data-title="Series Map">Series Map</a>
  {% endif %}

  {% if references %}
    <a class="tab-link" href="#resources" data-title="Resources">Resources</a>
  {% endif %}

  {% if (crossLinks and crossLinks.length)
     or (vaultRefs and vaultRefs.length)
     or (communityThreads and communityThreads.length)
     or (relatedProducts and relatedProducts.length) %}
    <a class="tab-link" href="#lens" data-title="Lens">Synergist Lens</a>
  {% endif %}

</nav>
