<form id="entitlement-search-form" class="tgk-form" novalidate>

  <div class="form-group">
    <label for="search-query">User Email or UID</label>
    <input
      id="search-query"
      type="text"
      required
      placeholder="example@domain.com or user UID">
  </div>

  <button type="submit" class="btn-primary">Search</button>

  <p id="entitlement-search-status" class="small muted" hidden></p>

</form>
